.DS_Store
/.build
/.idea
/Packages
/*.xcodeproj

MastodonKit.xcworkspace/xcuserdata/pcperini.xcuserdatad/UserInterfaceState.xcuserstate
MastodonKit.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
MastodonKit.xcworkspace/contents.xcworkspacedata
